@model CustomerNavigationModel
<div class="block block-account-navigation">
    <div class="title">
        <svg class="icon size-1x white"><use href="#chevron-down"></use></svg>
        @T("Account.Navigation")
    </div>
    <div class="listbox">
        <ul class="list card default">
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.AccountNavigationBefore })
            @foreach (var item in Model.CustomerNavigationItems)
            {
                <li class="@item.ItemClass">
                    <a href="@Url.RouteUrl(item.RouteName)" class="@(Model.SelectedTab == item.Tab ? "active" : "inactive")">@(item.Title)</a>
                </li>
            }
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.AccountNavigationAfter })
        </ul>
    </div>
</div>
