@model PopularProductTagsModel
@if (Model.Tags.Count > 0)
{
    <div class="block block-popular-tags">
        <div class="title">
            <svg class="icon font-size-base white"><use href="#chevron-down"></use></svg>
            <strong>@T("Products.Tags.Popular")</strong>
        </div>
        <div class="listbox">
            <div class="tags d-flex flex-wrap">
                @foreach (var item in Model.Tags)
                {
                        <a href="@Url.RouteUrl("ProductsByTag", new { item.SeName })" class="badge tag waves-effect waves-light m-1">
                            @if (!string.IsNullOrEmpty(item.Icon))
                            {
                                <svg class='icon shadow svg-baseline mr-2'><use href='#@item.Icon'></use></svg>
                            }
                            @item.Name
                        </a>
                }
            </div>
            @if (Model.TotalTags > Model.Tags.Count)
            {
                <div class="view-all">
                    <a href="@Url.RouteUrl("ProductTagsAll")">@T("Products.Tags.Popular.ViewAll")</a>
                </div>
            }
        </div>
    </div>
}