@model FoxNetSoft.Plugin.ExternalAuth.Social.Models.ConfigurationModel
@{
    Layout = "_ConfigurePlugin";
}
@await Component.InvokeAsync("StoreScopeConfiguration")
<form asp-controller="SocialExternalAuth" asp-action="Configure" method="post">
    <script>
        $(document).ready(function () {
            $("#@Html.IdFor(model => model.showDebugInfo)").click(toggleshowDebugInfo);
            toggleshowDebugInfo();

            $("#@Html.IdFor(model => model.Facebook_Enable)").click(toggleRequireFacebook);
            $("#@Html.IdFor(model => model.Google_Enable)").click(toggleRequireGoogle);
            $("#@Html.IdFor(model => model.Yahoo_Enable)").click(toggleRequireYahoo);
            $("#@Html.IdFor(model => model.Twitter_Enable)").click(toggleRequireTwitter);
            $("#@Html.IdFor(model => model.LinkedIn_Enable)").click(toggleRequireLinkedIn);
            $("#@Html.IdFor(model => model.MailRu_Enable)").click(toggleRequireMailRu);
            $("#@Html.IdFor(model => model.Yandex_Enable)").click(toggleRequireYandex);
            $("#@Html.IdFor(model => model.Vk_Enable)").click(toggleRequireVk);
            $("#@Html.IdFor(model => model.Amazon_Enable)").click(toggleRequireAmazon);
            $("#@Html.IdFor(model => model.Microsoft_Enable)").click(toggleRequireMicrosoft);
            $("#@Html.IdFor(model => model.PayPal_Enable)").click(toggleRequirePayPal);
            $("#@Html.IdFor(model => model.Instagram_Enable)").click(toggleRequireInstagram);
            $("#@Html.IdFor(model => model.FoursQuare_Enable)").click(toggleRequireFoursQuare);
            $("#@Html.IdFor(model => model.Pinterest_Enable)").click(toggleRequirePinterest);
            $("#@Html.IdFor(model => model.GitHub_Enable)").click(toggleRequireGitHub);
            $("#@Html.IdFor(model => model.AccountKit_Enable)").click(toggleRequireAccountKit);
            $("#@Html.IdFor(model => model.Salesforce_Enable)").click(toggleRequireSalesforce);

            toggleRequireFacebook();
            toggleRequireGoogle();
            toggleRequireYahoo();
            toggleRequireTwitter();
            toggleRequireLinkedIn();
            toggleRequireMailRu();
            toggleRequireYandex();
            toggleRequireVk();
            toggleRequireAmazon();
            toggleRequireMicrosoft();
            toggleRequirePayPal();
            toggleRequireInstagram();
            toggleRequireFoursQuare();
            toggleRequirePinterest();
            toggleRequireGitHub();
            toggleRequireAccountKit();
            toggleRequireSalesforce();
        });

        function toggleshowDebugInfo() {
            if ($('#@Html.IdFor(model => model.showDebugInfo)').is(':checked')) {
                $('#pnlclearlogfile, #pnlgetlogfile').show();
            }
            else {
                $('#pnlclearlogfile, #pnlgetlogfile').hide();
            }
        }

        function toggleRequireFacebook() {
            if ($('#@Html.IdFor(model => model.Facebook_Enable)').is(':checked')) {
                $('#pnlFacebook_ClientKeyIdentifier, #pnlFacebook_ClientSecret, #pnlFacebook_CallbackURI, #pnlFacebook_UsePopUpForm, #pnlFacebook_Birthday, #pnlFacebook_Avatar').show();
            }
            else {
                $('#pnlFacebook_ClientKeyIdentifier, #pnlFacebook_ClientSecret, #pnlFacebook_CallbackURI, #pnlFacebook_UsePopUpForm, #pnlFacebook_Birthday, #pnlFacebook_Avatar').hide();
            }
            $('#pnlFacebook_UsePopUpForm').hide();
        }


        function toggleRequireGoogle() {
            if ($('#@Html.IdFor(model => model.Google_Enable)').is(':checked')) {
                $('#pnlGoogle_ClientKeyIdentifier').show();
                $('#pnlGoogle_ClientSecret').show();
                $('#pnlGoogle_CallbackURI').show();
                $('#pnlGoogle_Birthday').show();
                $('#pnlGoogle_Avatar').show();
            }
            else {
                $('#pnlGoogle_ClientKeyIdentifier').hide();
                $('#pnlGoogle_ClientSecret').hide();
                $('#pnlGoogle_CallbackURI').hide();
                $('#pnlGoogle_Birthday').hide();
                $('#pnlGoogle_Avatar').hide();
            }
        }

        function toggleRequireYahoo() {
            if ($('#@Html.IdFor(model => model.Yahoo_Enable)').is(':checked')) {
                $('#pnlYahoo_ClientKeyIdentifier').show();
                $('#pnlYahoo_ClientSecret').show();
                $('#pnlYahoo_CallbackURI').show();
            }
            else {
                $('#pnlYahoo_ClientKeyIdentifier').hide();
                $('#pnlYahoo_ClientSecret').hide();
                $('#pnlYahoo_CallbackURI').hide();
            }
        }
        function toggleRequireTwitter() {
            if ($('#@Html.IdFor(model => model.Twitter_Enable)').is(':checked')) {
                $('#pnlTwitter_ClientKeyIdentifier').show();
                $('#pnlTwitter_ClientSecret').show();
                $('#pnlTwitter_CallbackURI').show();
            }
            else {
                $('#pnlTwitter_ClientKeyIdentifier').hide();
                $('#pnlTwitter_ClientSecret').hide();
                $('#pnlTwitter_CallbackURI').hide();
            }
        }

        function toggleRequireLinkedIn() {
            if ($('#@Html.IdFor(model => model.LinkedIn_Enable)').is(':checked')) {
                $('#pnlLinkedIn_ClientKeyIdentifier').show();
                $('#pnlLinkedIn_ClientSecret').show();
                $('#pnlLinkedIn_CallbackURI').show();
            }
            else {
                $('#pnlLinkedIn_ClientKeyIdentifier').hide();
                $('#pnlLinkedIn_ClientSecret').hide();
                $('#pnlLinkedIn_CallbackURI').hide();
            }
        }

        function toggleRequireMailRu() {
            if ($('#@Html.IdFor(model => model.MailRu_Enable)').is(':checked')) {
                $('#pnlMailRu_ClientKeyIdentifier').show();
                $('#pnlMailRu_ClientSecret').show();
                $('#pnlMailRu_CallbackURI').show();
            }
            else {
                $('#pnlMailRu_ClientKeyIdentifier').hide();
                $('#pnlMailRu_ClientSecret').hide();
                $('#pnlMailRu_CallbackURI').hide();
            }
        }

        function toggleRequireYandex() {
            if ($('#@Html.IdFor(model => model.Yandex_Enable)').is(':checked')) {
                $('#pnlYandex_ClientKeyIdentifier').show();
                $('#pnlYandex_ClientSecret').show();
                $('#pnlYandex_CallbackURI').show();
            }
            else {
                $('#pnlYandex_ClientKeyIdentifier').hide();
                $('#pnlYandex_ClientSecret').hide();
                $('#pnlYandex_CallbackURI').hide();
            }
        }
        function toggleRequireVk() {
            if ($('#@Html.IdFor(model => model.Vk_Enable)').is(':checked')) {
                $('#pnlVk_ClientKeyIdentifier').show();
                $('#pnlVk_ClientSecret').show();
                $('#pnlVk_CallbackURI').show();
            }
            else {
                $('#pnlVk_ClientKeyIdentifier').hide();
                $('#pnlVk_ClientSecret').hide();
                $('#pnlVk_CallbackURI').hide();
            }
        }

        function toggleRequireAmazon() {
            if ($('#@Html.IdFor(model => model.Amazon_Enable)').is(':checked')) {
                $('#pnlAmazon_ClientKeyIdentifier, #pnlAmazon_ClientSecret, #pnlAmazon_CallbackURI').show();
            }
            else {
                $('#pnlAmazon_ClientKeyIdentifier, #pnlAmazon_ClientSecret, #pnlAmazon_CallbackURI').hide();
            }
        }
        function toggleRequireMicrosoft() {
            if ($('#@Html.IdFor(model => model.Microsoft_Enable)').is(':checked')) {
                $('#pnlMicrosoft_ClientKeyIdentifier').show();
                $('#pnlMicrosoft_ClientSecret').show();
                $('#pnlMicrosoft_CallbackURI').show();
            }
            else {
                $('#pnlMicrosoft_ClientKeyIdentifier').hide();
                $('#pnlMicrosoft_ClientSecret').hide();
                $('#pnlMicrosoft_CallbackURI').hide();
            }
        }

        function toggleRequirePayPal() {
            if ($('#@Html.IdFor(model => model.PayPal_Enable)').is(':checked')) {
                $('#pnlPayPal_ClientKeyIdentifier').show();
                $('#pnlPayPal_ClientSecret').show();
                $('#pnlPayPal_CallbackURI').show();
            }
            else {
                $('#pnlPayPal_ClientKeyIdentifier').hide();
                $('#pnlPayPal_ClientSecret').hide();
                $('#pnlPayPal_CallbackURI').hide();
            }
        }

        function toggleRequireInstagram() {
            if ($('#@Html.IdFor(model => model.Instagram_Enable)').is(':checked')) {
                $('#pnlInstagram_ClientKeyIdentifier').show();
                $('#pnlInstagram_ClientSecret').show();
                $('#pnlInstagram_CallbackURI').show();
            }
            else {
                $('#pnlInstagram_ClientKeyIdentifier').hide();
                $('#pnlInstagram_ClientSecret').hide();
                $('#pnlInstagram_CallbackURI').hide();
            }
        }

        function toggleRequireFoursQuare() {
            if ($('#@Html.IdFor(model => model.FoursQuare_Enable)').is(':checked')) {
                $('#pnlFoursQuare_ClientKeyIdentifier').show();
                $('#pnlFoursQuare_ClientSecret').show();
                $('#pnlFoursQuare_CallbackURI').show();
            }
            else {
                $('#pnlFoursQuare_ClientKeyIdentifier').hide();
                $('#pnlFoursQuare_ClientSecret').hide();
                $('#pnlFoursQuare_CallbackURI').hide();
            }
        }

        function toggleRequirePinterest() {
            if ($('#@Html.IdFor(model => model.Pinterest_Enable)').is(':checked')) {
                $('#pnlPinterest_ClientKeyIdentifier, #pnlPinterest_ClientSecret, #pnlPinterest_CallbackURI').show();
            }
            else {
                $('#pnlPinterest_ClientKeyIdentifier, #pnlPinterest_ClientSecret, #pnlPinterest_CallbackURI').hide();
            }
        }

        function toggleRequireGitHub() {
            if ($('#@Html.IdFor(model => model.GitHub_Enable)').is(':checked')) {
                $('#pnlGitHub_ClientKeyIdentifier, #pnlGitHub_ClientSecret, #pnlGitHub_CallbackURI').show();
            }
            else {
                $('#pnlGitHub_ClientKeyIdentifier, #pnlGitHub_ClientSecret, #pnlGitHub_CallbackURI').hide();
            }
        }

        function toggleRequireAccountKit() {
            if ($('#@Html.IdFor(model => model.AccountKit_Enable)').is(':checked')) {
                $('#pnlAccountKit_ClientKeyIdentifier, #pnlAccountKit_ClientSecret, #pnlAccountKit_Disable_CSRF').show();
            }
            else {
                $('#pnlAccountKit_ClientKeyIdentifier, #pnlAccountKit_ClientSecret, #pnlAccountKit_Disable_CSRF').hide();
            }
        }
        function toggleRequireSalesforce() {
            if ($('#@Html.IdFor(model => model.Salesforce_Enable)').is(':checked')) {
                $('#pnlSalesforce_ClientKeyIdentifier, #pnlSalesforce_ClientSecret, #pnlSalesforce_CallbackURI').show();
            }
            else {
                $('#pnlSalesforce_ClientKeyIdentifier, #pnlSalesforce_ClientSecret, #pnlSalesforce_CallbackURI').hide();
            }
        }
    </script>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    @if (Model.IsRegisted == true)
                                {
                            @T("FoxNetSoft.ExternalAuth.Social.IsRegisted")
                                }
                                else
                                {
                            @T("FoxNetSoft.ExternalAuth.Social.IsNoRegisted")
                            <br />
                            <a href="https://www.foxnetsoft.com/nopcommerce-exauthsocial" target="blank">Buy It Now</a>
                                }
                </p>
                <p>
                    <b>Important:</b><br />
                <p>
                    It is important to do the following<br />
                    After installing the plug-in you shall:<br />
                    1. In menu, select “Configuration-External authentication methods” and check “Is active” box. <br />
                    <br />
                    The plug-in is fully functional. Unregistered version has one limitation – 50 users.
                </p>
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="IsActive" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="IsActive" />
                        <span asp-validation-for="IsActive"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="RedirectUrlAfterLogin" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="RedirectUrlAfterLogin" />
                        <span asp-validation-for="RedirectUrlAfterLogin"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <b>@T("FoxNetSoft.ExternalAuth.Social.Facebook")</b>
                    <br />
                    Manage your applications <a href="https://developers.facebook.com/apps?ref=mb" target="blank">https://developers.facebook.com/apps?ref=mb</a>
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Facebook_Enable_OverrideForStore" asp-input="Facebook_Enable" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Facebook_Enable" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Facebook_Enable" />
                        <span asp-validation-for="Facebook_Enable"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlFacebook_ClientKeyIdentifier">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Facebook_ClientKeyIdentifier_OverrideForStore" asp-input="Facebook_ClientKeyIdentifier" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Facebook_ClientKeyIdentifier" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Facebook_ClientKeyIdentifier" />
                        <span asp-validation-for="Facebook_ClientKeyIdentifier"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlFacebook_ClientSecret">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Facebook_ClientSecret_OverrideForStore" asp-input="Facebook_ClientSecret" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Facebook_ClientSecret" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Facebook_ClientSecret" />
                        <span asp-validation-for="Facebook_ClientSecret"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlFacebook_CallbackURI">
                    <div class="col-md-3">
                        <nop-label asp-for="Facebook_CallbackURI" />
                    </div>
                    <div class="col-md-9">
                        <b>@Model.Facebook_CallbackURI</b>
                    </div>
                </div>
                <div class="form-group" id="pnlFacebook_UsePopUpForm">
                    <div class="col-md-3">
                        <nop-label asp-for="Facebook_UsePopUpForm" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Facebook_UsePopUpForm" />
                        <span asp-validation-for="Facebook_UsePopUpForm"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlFacebook_Birthday">
                    <div class="col-md-3">
                        <nop-label asp-for="Facebook_Birthday" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Facebook_Birthday" />
                        <span asp-validation-for="Facebook_Birthday"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlFacebook_Avatar">
                    <div class="col-md-3">
                        <nop-label asp-for="Facebook_Avatar" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Facebook_Avatar" />
                        <span asp-validation-for="Facebook_Avatar"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <b>@T("FoxNetSoft.ExternalAuth.Social.Google")</b>
                    <br />
                    Manage your applications <a href="https://console.developers.google.com/apis/dashboard" target="blank">Google Developers Console</a>
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Google_Enable_OverrideForStore" asp-input="Google_Enable" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Google_Enable" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Google_Enable" />
                        <span asp-validation-for="Google_Enable"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlGoogle_ClientKeyIdentifier">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Google_ClientKeyIdentifier_OverrideForStore" asp-input="Google_ClientKeyIdentifier" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Google_ClientKeyIdentifier" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Google_ClientKeyIdentifier" />
                        <span asp-validation-for="Google_ClientKeyIdentifier"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlGoogle_ClientSecret">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Google_ClientSecret_OverrideForStore" asp-input="Google_ClientSecret" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Google_ClientSecret" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Google_ClientSecret" />
                        <span asp-validation-for="Google_ClientSecret"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlGoogle_CallbackURI">
                    <div class="col-md-3">
                        <nop-label asp-for="Google_CallbackURI" />
                    </div>
                    <div class="col-md-9">
                        <b>@Model.Google_CallbackURI</b>
                    </div>
                </div>
                @*<div class="form-group"  id="pnlGoogle_Birthday">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.Google_Birthday)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.Google_Birthday)
                            @Html.ValidationMessageFor(model => model.Google_Birthday)
                        </div>
                    </div>*@
                <div class="form-group" id="pnlGoogle_Avatar">
                    <div class="col-md-3">
                        <nop-label asp-for="Google_Avatar" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Google_Avatar" />
                        <span asp-validation-for="Google_Avatar"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <b>@T("FoxNetSoft.ExternalAuth.Social.Twitter")</b>
                    <br />
                    Manage your applications <a href="https://dev.twitter.com/apps" target="blank">https://dev.twitter.com/apps</a>
                    <br />
                    Twitter doesn't give email. Plugin creates virtual email, etc username@twitter.com
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Twitter_Enable_OverrideForStore" asp-input="Twitter_Enable" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Twitter_Enable" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Twitter_Enable" />
                        <span asp-validation-for="Twitter_Enable"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlTwitter_ClientKeyIdentifier">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Twitter_ClientKeyIdentifier_OverrideForStore" asp-input="Twitter_ClientKeyIdentifier" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Twitter_ClientKeyIdentifier" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Twitter_ClientKeyIdentifier" />
                        <span asp-validation-for="Twitter_ClientKeyIdentifier"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlTwitter_ClientSecret">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Twitter_ClientSecret_OverrideForStore" asp-input="Twitter_ClientSecret" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Twitter_ClientSecret" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Twitter_ClientSecret" />
                        <span asp-validation-for="Twitter_ClientSecret"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlTwitter_CallbackURI">
                    <div class="col-md-3">
                        <nop-label asp-for="Twitter_CallbackURI" />
                    </div>
                    <div class="col-md-9">
                        <b>@Model.Twitter_CallbackURI</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <b>@T("FoxNetSoft.ExternalAuth.Social.LinkedIn")</b>
                    <br />
                    Manage your applications <a href="https://www.linkedin.com/secure/developer" target="blank">https://www.linkedin.com/secure/developer</a>
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="LinkedIn_Enable_OverrideForStore" asp-input="LinkedIn_Enable" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="LinkedIn_Enable" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="LinkedIn_Enable" />
                        <span asp-validation-for="LinkedIn_Enable"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlLinkedIn_ClientKeyIdentifier">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="LinkedIn_ClientKeyIdentifier_OverrideForStore" asp-input="LinkedIn_ClientKeyIdentifier" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="LinkedIn_ClientKeyIdentifier" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="LinkedIn_ClientKeyIdentifier" />
                        <span asp-validation-for="LinkedIn_ClientKeyIdentifier"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlLinkedIn_ClientSecret">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="LinkedIn_ClientSecret_OverrideForStore" asp-input="LinkedIn_ClientSecret" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="LinkedIn_ClientSecret" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="LinkedIn_ClientSecret" />
                        <span asp-validation-for="LinkedIn_ClientSecret"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlLinkedIn_CallbackURI">
                    <div class="col-md-3">
                        <nop-label asp-for="LinkedIn_CallbackURI" />
                    </div>
                    <div class="col-md-9">
                        <b>@Model.LinkedIn_CallbackURI</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <b>@T("FoxNetSoft.ExternalAuth.Social.Microsoft")</b>
                    <br />
                    Manage your applications <a href="https://account.live.com/developers/applications" target="blank">https://account.live.com/developers/applications</a>
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Microsoft_Enable_OverrideForStore" asp-input="Microsoft_Enable" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Microsoft_Enable" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Microsoft_Enable" />
                        <span asp-validation-for="Microsoft_Enable"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlMicrosoft_ClientKeyIdentifier">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Microsoft_ClientKeyIdentifier_OverrideForStore" asp-input="Microsoft_ClientKeyIdentifier" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Microsoft_ClientKeyIdentifier" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Microsoft_ClientKeyIdentifier" />
                        <span asp-validation-for="Microsoft_ClientKeyIdentifier"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlMicrosoft_ClientSecret">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Microsoft_ClientSecret_OverrideForStore" asp-input="Microsoft_ClientSecret" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Microsoft_ClientSecret" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Microsoft_ClientSecret" />
                        <span asp-validation-for="Microsoft_ClientSecret"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlMicrosoft_CallbackURI">
                    <div class="col-md-3">
                        <nop-label asp-for="Microsoft_CallbackURI" />
                    </div>
                    <div class="col-md-9">
                        <b>@Model.Microsoft_CallbackURI</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <b>@T("FoxNetSoft.ExternalAuth.Social.Instagram")</b>
                    <br />
                    Manage your applications <a href="http://instagram.com/developer/clients/manage/#" target="blank">http://instagram.com/developer/clients/manage/#</a>
                    <br />
                    Read our documentation <a href="http://instagram.com/developer/authentication/#" target="blank">http://instagram.com/developer/authentication/#</a>
                    <br />
                    Instagram doesn't give email. Plugin creates virtual email, etc username@instagram.com
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Instagram_Enable_OverrideForStore" asp-input="Instagram_Enable" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Instagram_Enable" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Instagram_Enable" />
                        <span asp-validation-for="Instagram_Enable"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlInstagram_ClientKeyIdentifier">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Instagram_ClientKeyIdentifier_OverrideForStore" asp-input="Instagram_ClientKeyIdentifier" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Instagram_ClientKeyIdentifier" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Instagram_ClientKeyIdentifier" />
                        <span asp-validation-for="Instagram_ClientKeyIdentifier"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlInstagram_ClientSecret">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Instagram_ClientSecret_OverrideForStore" asp-input="Instagram_ClientSecret" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Instagram_ClientSecret" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Instagram_ClientSecret" />
                        <span asp-validation-for="Instagram_ClientSecret"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlInstagram_CallbackURI">
                    <div class="col-md-3">
                        <nop-label asp-for="Instagram_CallbackURI" />
                    </div>
                    <div class="col-md-9">
                        <b>@Model.Instagram_CallbackURI</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <b>@T("FoxNetSoft.ExternalAuth.Social.Amazon")</b>
                    <br />
                    Manage your applications <a href="http://login.amazon.com/manageApps" target="blank">http://login.amazon.com/manageApps</a>
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Amazon_Enable_OverrideForStore" asp-input="Amazon_Enable" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Amazon_Enable" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Amazon_Enable" />
                        <span asp-validation-for="Amazon_Enable"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlAmazon_ClientKeyIdentifier">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Amazon_ClientKeyIdentifier_OverrideForStore" asp-input="Amazon_ClientKeyIdentifier" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Amazon_ClientKeyIdentifier" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Amazon_ClientKeyIdentifier" />
                        <span asp-validation-for="Amazon_ClientKeyIdentifier"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlAmazon_ClientSecret">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Amazon_ClientSecret_OverrideForStore" asp-input="Amazon_ClientSecret" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Amazon_ClientSecret" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Amazon_ClientSecret" />
                        <span asp-validation-for="Amazon_ClientSecret"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlAmazon_CallbackURI">
                    <div class="col-md-3">
                        <nop-label asp-for="Amazon_CallbackURI" />
                    </div>
                    <div class="col-md-9">
                        <b>@Model.Amazon_CallbackURI</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <b>@T("FoxNetSoft.ExternalAuth.Social.PayPal")</b>
                    <br />
                    Manage your applications <a href="https://developer.paypal.com/webapps/developer/applications/myapps" target="blank">https://developer.paypal.com/webapps/developer/applications/myapps</a>
                    <br />
                    Read our documentation <a href="http://foxnetsoft.com/t/nopexauthsocial#step18" target="blank">http://foxnetsoft.com/t/nopexauthsocial#step18</a>
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PayPal_Enable_OverrideForStore" asp-input="PayPal_Enable" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PayPal_Enable" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PayPal_Enable" />
                        <span asp-validation-for="PayPal_Enable"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlPayPal_ClientKeyIdentifier">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PayPal_ClientKeyIdentifier_OverrideForStore" asp-input="PayPal_ClientKeyIdentifier" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PayPal_ClientKeyIdentifier" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PayPal_ClientKeyIdentifier" />
                        <span asp-validation-for="PayPal_ClientKeyIdentifier"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlPayPal_ClientSecret">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PayPal_ClientSecret_OverrideForStore" asp-input="PayPal_ClientSecret" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PayPal_ClientSecret" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PayPal_ClientSecret" />
                        <span asp-validation-for="PayPal_ClientSecret"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlPayPal_CallbackURI">
                    <div class="col-md-3">
                        <nop-label asp-for="PayPal_CallbackURI" />
                    </div>
                    <div class="col-md-9">
                        <b>@Model.PayPal_CallbackURI</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <b>@T("FoxNetSoft.ExternalAuth.Social.FoursQuare")</b>
                    <br />
                    Manage your applications <a href="https://foursquare.com/developers/apps" target="blank">https://foursquare.com/developers/apps</a>
                    <br />
                    Read our documentation <a href="https://developer.foursquare.com/overview/auth" target="blank">https://developer.foursquare.com/overview/auth</a>
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="FoursQuare_Enable_OverrideForStore" asp-input="FoursQuare_Enable" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="FoursQuare_Enable" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="FoursQuare_Enable" />
                        <span asp-validation-for="FoursQuare_Enable"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlFoursQuare_ClientKeyIdentifier">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="FoursQuare_ClientKeyIdentifier_OverrideForStore" asp-input="FoursQuare_ClientKeyIdentifier" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="FoursQuare_ClientKeyIdentifier" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="FoursQuare_ClientKeyIdentifier" />
                        <span asp-validation-for="FoursQuare_ClientKeyIdentifier"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlFoursQuare_ClientSecret">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="FoursQuare_ClientSecret_OverrideForStore" asp-input="FoursQuare_ClientSecret" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="FoursQuare_ClientSecret" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="FoursQuare_ClientSecret" />
                        <span asp-validation-for="FoursQuare_ClientSecret"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlFoursQuare_CallbackURI">
                    <div class="col-md-3">
                        <nop-label asp-for="FoursQuare_CallbackURI" />
                    </div>
                    <div class="col-md-9">
                        <b>@Model.FoursQuare_CallbackURI</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <b>@T("FoxNetSoft.ExternalAuth.Social.GitHub")</b>
                    <br />
                    Manage your applications <a href="https://github.com/settings/developers" target="blank">https://github.com/settings/developers</a>
                    <br />
                    Read our documentation <a href="https://developer.github.com/v3/oauth" target="blank">https://developer.github.com/v3/oauth</a>
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="GitHub_Enable_OverrideForStore" asp-input="GitHub_Enable" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="GitHub_Enable" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="GitHub_Enable" />
                        <span asp-validation-for="GitHub_Enable"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlGitHub_ClientKeyIdentifier">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="GitHub_ClientKeyIdentifier_OverrideForStore" asp-input="GitHub_ClientKeyIdentifier" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="GitHub_ClientKeyIdentifier" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="GitHub_ClientKeyIdentifier" />
                        <span asp-validation-for="GitHub_ClientKeyIdentifier"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlGitHub_ClientSecret">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="GitHub_ClientSecret_OverrideForStore" asp-input="GitHub_ClientSecret" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="GitHub_ClientSecret" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="GitHub_ClientSecret" />
                        <span asp-validation-for="GitHub_ClientSecret"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlGitHub_CallbackURI">
                    <div class="col-md-3">
                        <nop-label asp-for="GitHub_CallbackURI" />
                    </div>
                    <div class="col-md-9">
                        <b>@Model.GitHub_CallbackURI</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <b>@T("FoxNetSoft.ExternalAuth.Social.Yahoo")</b>
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Yahoo_Enable_OverrideForStore" asp-input="Yahoo_Enable" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Yahoo_Enable" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Yahoo_Enable" />
                        <span asp-validation-for="Yahoo_Enable"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlYahoo_ClientKeyIdentifier">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Yahoo_ClientKeyIdentifier_OverrideForStore" asp-input="Yahoo_ClientKeyIdentifier" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Yahoo_ClientKeyIdentifier" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Yahoo_ClientKeyIdentifier" />
                        <span asp-validation-for="Yahoo_ClientKeyIdentifier"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlYahoo_ClientSecret">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Yahoo_ClientSecret_OverrideForStore" asp-input="Yahoo_ClientSecret" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Yahoo_ClientSecret" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Yahoo_ClientSecret" />
                        <span asp-validation-for="Yahoo_ClientSecret"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlYahoo_CallbackURI">
                    <div class="col-md-3">
                        <nop-label asp-for="Yahoo_CallbackURI" />
                    </div>
                    <div class="col-md-9">
                        <b>@Model.Yahoo_CallbackURI</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <b>@T("FoxNetSoft.ExternalAuth.Social.Salesforce")</b>
                    <br />
                    Manage your applications <a href="https://help.salesforce.com/articleView?id=connected_app_create.htm&language=en_US&type=0" target="blank">https://help.salesforce.com/articleView?id=connected_app_create.htm&language=en_US&type=0</a>
                    <br />
                    Read our documentation <a href="https://help.salesforce.com/articleView?id=connected_app_create.htm&language=en_US&type=0" target="blank">https://help.salesforce.com/articleView?id=connected_app_create.htm&language=en_US&type=0</a>
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Salesforce_Enable_OverrideForStore" asp-input="Salesforce_Enable" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Salesforce_Enable" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Salesforce_Enable" />
                        <span asp-validation-for="Salesforce_Enable"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlSalesforce_ClientKeyIdentifier">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Salesforce_ClientKeyIdentifier_OverrideForStore" asp-input="Salesforce_ClientKeyIdentifier" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Salesforce_ClientKeyIdentifier" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Salesforce_ClientKeyIdentifier" />
                        <span asp-validation-for="Salesforce_ClientKeyIdentifier"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlSalesforce_ClientSecret">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Salesforce_ClientSecret_OverrideForStore" asp-input="Salesforce_ClientSecret" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Salesforce_ClientSecret" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Salesforce_ClientSecret" />
                        <span asp-validation-for="Salesforce_ClientSecret"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlSalesforce_CallbackURI">
                    <div class="col-md-3">
                        <nop-label asp-for="Salesforce_CallbackURI" />
                    </div>
                    <div class="col-md-9">
                        <b>@Model.Salesforce_CallbackURI</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <b>@T("FoxNetSoft.ExternalAuth.Social.Yandex")</b>
                    <br />
                    Manage your applications <a href="https://oauth.yandex.ru/" target="blank">https://oauth.yandex.ru/</a>
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Yandex_Enable_OverrideForStore" asp-input="Yandex_Enable" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Yandex_Enable" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Yandex_Enable" />
                        <span asp-validation-for="Yandex_Enable"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlYandex_ClientKeyIdentifier">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Yandex_ClientKeyIdentifier_OverrideForStore" asp-input="Yandex_ClientKeyIdentifier" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Yandex_ClientKeyIdentifier" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Yandex_ClientKeyIdentifier" />
                        <span asp-validation-for="Yandex_ClientKeyIdentifier"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlYandex_ClientSecret">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Yandex_ClientSecret_OverrideForStore" asp-input="Yandex_ClientSecret" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Yandex_ClientSecret" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Yandex_ClientSecret" />
                        <span asp-validation-for="Yandex_ClientSecret"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlYandex_CallbackURI">
                    <div class="col-md-3">
                        <nop-label asp-for="Yandex_CallbackURI" />
                    </div>
                    <div class="col-md-9">
                        <b>@Model.Yandex_CallbackURI</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <b>@T("FoxNetSoft.ExternalAuth.Social.Vk")</b>
                    <br />
                    Manage your applications <a href="http://vk.com/dev" target="blank">http://vk.com/dev</a>
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Vk_Enable_OverrideForStore" asp-input="Vk_Enable" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Vk_Enable" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Vk_Enable" />
                        <span asp-validation-for="Vk_Enable"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlVk_ClientKeyIdentifier">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Vk_ClientKeyIdentifier_OverrideForStore" asp-input="Vk_ClientKeyIdentifier" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Vk_ClientKeyIdentifier" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Vk_ClientKeyIdentifier" />
                        <span asp-validation-for="Vk_ClientKeyIdentifier"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlVk_ClientSecret">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Vk_ClientSecret_OverrideForStore" asp-input="Vk_ClientSecret" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Vk_ClientSecret" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Vk_ClientSecret" />
                        <span asp-validation-for="Vk_ClientSecret"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlVk_CallbackURI">
                    <div class="col-md-3">
                        <nop-label asp-for="Vk_CallbackURI" />
                    </div>
                    <div class="col-md-9">
                        <b>@Model.Vk_CallbackURI</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <b>@T("FoxNetSoft.ExternalAuth.Social.MailRu")</b>
                    <br />
                    Manage your applications <a href="http://api.mail.ru/sites/my/" target="blank">http://api.mail.ru/sites/my/</a>
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="MailRu_Enable_OverrideForStore" asp-input="MailRu_Enable" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="MailRu_Enable" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="MailRu_Enable" />
                        <span asp-validation-for="MailRu_Enable"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlMailRu_ClientKeyIdentifier">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="MailRu_ClientKeyIdentifier_OverrideForStore" asp-input="MailRu_ClientKeyIdentifier" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="MailRu_ClientKeyIdentifier" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="MailRu_ClientKeyIdentifier" />
                        <span asp-validation-for="MailRu_ClientKeyIdentifier"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlMailRu_ClientSecret">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="MailRu_ClientSecret_OverrideForStore" asp-input="MailRu_ClientSecret" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="MailRu_ClientSecret" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="MailRu_ClientSecret" />
                        <span asp-validation-for="MailRu_ClientSecret"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlMailRu_CallbackURI">
                    <div class="col-md-3">
                        <nop-label asp-for="MailRu_CallbackURI" />
                    </div>
                    <div class="col-md-9">
                        <b>@Model.MailRu_CallbackURI</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <b>@T("FoxNetSoft.ExternalAuth.Social.Pinterest")</b>
                    <br />
                    Manage your applications <a href="https://developers.pinterest.com/manage/" target="blank">https://developers.pinterest.com/manage/</a>
                    <br />
                    Read our documentation <a href="https://developers.pinterest.com/docs/api/users/" target="blank">https://developers.pinterest.com/docs/api/users/</a>
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Pinterest_Enable_OverrideForStore" asp-input="Pinterest_Enable" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Pinterest_Enable" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Pinterest_Enable" />
                        <span asp-validation-for="Pinterest_Enable"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlPinterest_ClientKeyIdentifier">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Pinterest_ClientKeyIdentifier_OverrideForStore" asp-input="Pinterest_ClientKeyIdentifier" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Pinterest_ClientKeyIdentifier" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Pinterest_ClientKeyIdentifier" />
                        <span asp-validation-for="Pinterest_ClientKeyIdentifier"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlPinterest_ClientSecret">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Pinterest_ClientSecret_OverrideForStore" asp-input="Pinterest_ClientSecret" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Pinterest_ClientSecret" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Pinterest_ClientSecret" />
                        <span asp-validation-for="Pinterest_ClientSecret"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlPinterest_CallbackURI">
                    <div class="col-md-3">
                        <nop-label asp-for="Pinterest_CallbackURI" />
                    </div>
                    <div class="col-md-9">
                        <b>@Model.Pinterest_CallbackURI</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="display:none;">
            <div class="panel-body">
                <p>
                    <b>@T("FoxNetSoft.ExternalAuth.Social.AccountKit")</b>
                    <br />
                    Manage your applications <a href="https://developers.facebook.com/apps?ref=mb" target="blank">https://developers.facebook.com/apps?ref=mb</a>
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AccountKit_Enable_OverrideForStore" asp-input="AccountKit_Enable" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AccountKit_Enable" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AccountKit_Enable" />
                        <span asp-validation-for="AccountKit_Enable"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlAccountKit_ClientKeyIdentifier">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AccountKit_ClientKeyIdentifier_OverrideForStore" asp-input="AccountKit_ClientKeyIdentifier" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AccountKit_ClientKeyIdentifier" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AccountKit_ClientKeyIdentifier" />
                        <span asp-validation-for="AccountKit_ClientKeyIdentifier"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlAccountKit_ClientSecret">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AccountKit_ClientSecret_OverrideForStore" asp-input="AccountKit_ClientSecret" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AccountKit_ClientSecret" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AccountKit_ClientSecret" />
                        <span asp-validation-for="AccountKit_ClientSecret"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlAccountKit_Disable_CSRF">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AccountKit_Disable_CSRF_OverrideForStore" asp-input="AccountKit_Disable_CSRF" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AccountKit_Disable_CSRF" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AccountKit_Disable_CSRF" />
                        <span asp-validation-for="AccountKit_Disable_CSRF"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="showDebugInfo" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="showDebugInfo" />
                        <span asp-validation-for="showDebugInfo"></span>
                        <div id="pnlclearlogfile">
                            @*                       <input type="submit" name="clearfile" class="k-button" value="@T("FoxNetSoft.ExternalAuth.Social.ClearLogFile")" />*@
                            <a href="@Url.Action("ClearLogFile")" class="k-button">@T("FoxNetSoft.ExternalAuth.Social.ClearLogFile")</a>
                        </div>
                        <div id="pnlgetlogfile">
                            <a href="@Url.Action("GetLogFile")" class="k-button">@T("FoxNetSoft.ExternalAuth.Social.GetLogFile")</a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="StoreUrl" />
                    </div>
                    <div class="col-md-9">
                        <input class="form-control text-box single-line" id="StoreUrl" name="StoreUrl" value="@Model.StoreUrl" type="text" readonly="readonly">
                        <span asp-validation-for="StoreUrl"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="SerialNumber" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SerialNumber" />
                        <span asp-validation-for="SerialNumber"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
                <p>
                    Installation and configuring plug-in at Youtube <a href="http://www.youtube.com/foxnetsoft" target="blank">www.youtube.com/foxnetsoft</a>
                    <br />
                    Installation and configuring plug-in at our site <a href="http://www.foxnetsoft.com/documentation-nopsociallogin" target="blank">http://www.foxnetsoft.com/documentation-nopsociallogin</a>
                    <br />
                    <a href="https://www.foxnetsoft.com" target="blank">www.foxnetsoft.com</a>
                </p>
            </div>
        </div>
    </div>
</form>
